.my-canvas {
    position: fixed;
    z-index: 1;
}

.my-video {
    width: 80vw;
    height: 40%;
    position: absolute;
    top: 27%;
    left: 10vw;
}

.my-text-div {
    width: 78vw;
    height: auto;
    position: absolute;
    top: 30%;
    left: 12vw;
    background-color: #FFFFFF;
    padding: 1vw;
    z-index: 10;
}

.my-timer {
    font-weight: bold;
    display: block;
    padding: 1vw;
    alignment: center;
    width: 80%;
    text-align: center;
    position: fixed;
    top: 32%;
    left: 10%;
    font-size: 15vw;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    z-index: 10;
}

h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 15vw;
    line-height: .75;
    margin: 10px 0;
}

.welcome-banner {
    position: relative;
    display: block;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: Shalma;
    /*font-family: Allura;*/
    /*font-family: Arial Black, Arial Bold, Gadget, sans-serif;*/
    z-index: 9;
    /*background-image: linear-gradient(315deg, skyblue 0%, lightpink 74%);*/
    background-image: url(./final-banner-image.jpeg);
    background-size: cover;
    /*color: rgba(255, 255, 255, 1);*/
    color: #1a1b1c;
    /*text-shadow: -2px 0 black, 0 4px black, 4px 0 black, 0 -1px black;*/
    /*color: transparent;*/

}

h2 {
    /*font-size: clamp(40px, 4vw, 70px);*/
    font-size: clamp(40px, 12vw, 160px);
    padding: clamp(16px, 4vw, 20px) 1vw 1vw;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    height: 8vh;
}

@media screen and (max-width: 600px) {
    .my-video {
        width: 100vw;
        left: 10vw;
    }

    h2 {
        font-size: 23vw;
        padding: 1vw;
        height: auto;
    }
}